# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 試著模仿範例寫法, 使用程車費率預測競賽練習時間欄位處理

# [作業重點]
- 新增星期幾(day of week)與第幾周(week of year)這兩項特徵, 觀察有什麼影響 (In[4], Out[4], In[5], Out[5])
- 新增加上年週期與周周期特徵 , 觀察有什麼影響 (In[8], Out[8], In[9], Out[9])

In [4]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

data_path = '/Users/terence.su/data/'
df = pd.read_csv(data_path + 'taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2011-10-21 23:54:10 UTC,-73.990580,40.761071,-73.981128,40.758634,2
1,2015-02-03 10:42:03 UTC,-73.988403,40.723431,-73.989647,40.741695,1
2,2014-03-16 18:58:58 UTC,-74.015785,40.715110,-74.012029,40.707888,2
3,2009-06-13 16:10:54 UTC,-73.977322,40.787275,-73.958030,40.778838,3
4,2014-06-12 03:25:56 UTC,-73.989683,40.729717,-73.982490,40.761887,3

lambda :  "https://zhuanlan.zhihu.com/p/42756654"
strptime : "https://www.delftstack.com/zh-tw/howto/python/how-to-convert-string-to-datetime/"
strftime : "http://tw.gitbook.net/python/time_strftime.html"
astype   : "https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/358035/"

In [2]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56

fit_transform : "https://zhuanlan.zhihu.com/p/42297868"

In [6]:
df_temp = df.drop(['pickup_datetime'] , axis=1)
print(df_temp)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
print(train_X)

      pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  \
0           -73.990580        40.761071         -73.981128         40.758634
1           -73.988403        40.723431         -73.989647         40.741695
2           -74.015785        40.715110         -74.012029         40.707888
3           -73.977322        40.787275         -73.958030         40.778838
4           -73.989683        40.729717         -73.982490         40.761887
5           -73.997631        40.721805         -74.009757         40.709941
6           -73.954743        40.789303         -73.964755         40.773345
7           -73.982279        40.764668         -73.990323         40.756427
8           -73.965039        40.769972         -73.955365         40.779438
9           -73.986570        40.734727         -74.003757         40.741951
10          -73.953742        40.774040         -73.969870         40.785605
11          -73.982057        40.768790         -73.949467         40.830230
12          -73.983368        40.727033         -73.953655         40.666835
13          -74.005307        40.728124         -73.979042         40.741986
14          -73.970473        40.783983         -73.967860         40.762692
15          -73.951788        40.714289         -73.952272         40.694019
16          -73.999353        40.761494         -73.953128         40.768081
17          -74.001532        40.730875         -73.978048         40.764719
18          -73.966994        40.757627         -73.967327         40.766001
19          -73.967032        40.803832         -73.973962         40.754712
20          -73.988503        40.731349         -73.979510         40.748828
21          -73.958500        40.810140         -73.978187         40.778183
22          -73.966323        40.761512         -73.957015         40.768288
23          -73.989962        40.767048         -73.950755         40.776633
24          -73.958430        40.781613         -73.985932         40.770163
25          -73.979752        40.766000         -73.985705         40.756777
26          -73.994117        40.759050         -73.942337         40.847027
27          -73.980308        40.780442         -73.972903         40.795217
28          -73.980436        40.770263         -73.953017         40.783132
29          -73.951540        40.769698         -73.966601         40.753667
...                ...              ...                ...               ...
4970        -73.982535        40.745528         -73.970325         40.799040
4971        -73.994720        40.745266         -73.951874         40.777031
4972        -74.007568        40.743445         -74.009453         40.715368
4973        -73.988347        40.720062         -73.984237         40.744293
4974        -74.003000        40.748896         -73.993130         40.762910
4975        -73.982075        40.755006         -73.962513         40.778304
4976        -73.853805        40.727235         -73.862738         40.729588
4977        -73.991290        40.750211         -74.006304         40.722786
4978        -74.007162        40.711847         -74.012580         40.701522
4979        -73.977730        40.786848         -73.977370         40.775877
4980        -73.967935        40.803050         -73.965573         40.764447
4981        -73.961487        40.774535         -73.889445         40.819582
4982        -73.863480        40.769920         -73.966133         40.757999
4983        -73.957769        40.773766         -73.978916         40.773361
4984        -73.991764        40.759287         -73.988162         40.732078
4985        -74.007777        40.715137         -74.004057         40.725677
4986        -73.996112        40.726045         -73.983083         40.756667
4987        -73.975698        40.756953         -73.984026         40.757036
4988        -73.990323        40.752555         -73.991157         40.731852
4989        -73.965067        40.755190         -73.965067         40.755190
4990        -73.975028        40.765580         -73.989997         40.751650
4991        -73.991309        40.739068         -73.995768         40.726276
4992        -73.957620        40.782134         -73.973613         40.750718
4993        -73.973512        40.754700         -73.981157         40.737545
4994        -73.982043        40.774592         -73.976149         40.782166
4995        -73.994150        40.761397         -73.986840         40.759202
4996        -73.986767        40.729937         -73.977022         40.726482
4997        -73.984612        40.732297         -73.995004         40.750059
4998        -73.958460        40.773415         -73.953445         40.782598
4999        -73.965193        40.759520         -73.991758         40.744213

      passenger_count
0                   2
1                   1
2                   2
3                   3
4                   3
5                   1
6                   1
7                   1
8                   1
9                   1
10                  1
11                  1
12                  4
13                  1
14                  1
15                  2
16                  1
17                  1
18                  1
19                  2
20                  1
21                  4
22                  1
23                  1
24                  1
25                  1
26                  1
27                  5
28                  1
29                  1
...               ...
4970                1
4971                1
4972                4
4973                3
4974                1
4975                1
4976                5
4977                1
4978                1
4979                1
4980                1
4981                1
4982                1
4983                1
4984                3
4985                1
4986                1
4987                1
4988                6
4989                5
4990                1
4991                1
4992                1
4993                1
4994                1
4995                1
4996                1
4997                1
4998                1
4999                4

[5000 rows x 5 columns]
[[0.06771819 0.99475523 0.06760167 0.99473421 0.33333333]
 [0.06773587 0.99442896 0.06753244 0.99458739 0.16666667]
 [0.06751342 0.99435684 0.06735055 0.99429435 0.33333333]
 ...
 [0.06776668 0.99450582 0.06748891 0.99465989 0.16666667]
 [0.06797914 0.99486223 0.06782663 0.99494193 0.16666667]
 [0.06792444 0.99474179 0.06751528 0.99460921 0.66666667]]

In [3]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.026876871475640173
Gradient Boosting Reg Score : 0.7115599753640718

# 作業1
* 對照範例，試著加入星期幾 (day of week) 與第幾周 (week of year) 這兩項特徵，  
看看結果會比原本只有時間特徵分解的結果更好或更差?

In [ ]:
# 加入星期幾與第幾周兩個特徵
"""
Your Code Here
"""
import math
df['week_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['week_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

In [ ]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

In [ ]:
# 加上"日週期"特徵 (參考講義"週期循環特徵")
import math
df['day_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['day_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

In [ ]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

# 作業2
* 對照範例的日週期效果，試著參考投影片完成年週期與周週期的特徵 (也可以用你自己想到的方式)，  
看看結果會比範例中的結果更好或更差?

In [ ]:
# 加上"年週期"與"周週期"特徵
"""
Your Code Here
"""
df.head()

In [ ]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')